export(add_gid)
export(combine_aes)
export(dgply)
export(dyply)
export(fun)
export(get_xs)
export(get_ys)
export(gglayer)
export(ggply)
export(ggplyr)
export(group_by)
export(gyply)
export(lgply)
export(lyply)
export(null_omit)
export(update_aes)
export(ygply)
export(yyply)
exportClasses(gglayer)
exportClasses(ggplyr)
exportMethods([)
exportMethods([<-)
exportMethods(+)
exportMethods($)
exportMethods($<-)
exportMethods(c)
exportMethods(ggtransform)
exportMethods(ls)
exportMethods(rep)
exportMethods(show)
S3method(print,ggplyr)
