S3method(layer_clone,glayer)
S3method(layer_clone,list)
S3method(layer_clone,proto)
S3method(ply_aes,glayer)
S3method(ply_aes,list)
S3method(ply_aes,proto)
S3method(print,glyphs)
S3method(print,rel)
export(add_gid)
export(aesply)
export(apply_maps)
export(eval.plyr)
export(first_name)
export(geom_coxcomb)
export(geom_star)
export(get_xs)
export(get_ys)
export(glayer)
export(glayer_build)
export(globalize)
export(glyph)
export(glyph_build)
export(glyph_plot)
export(grid)
export(group_by)
export(is.rel)
export(layer_clone)
export(merge_overlaps)
export(null_omit)
export(ply_aes)
export(ref_box)
export(ref_hline)
export(ref_points)
export(ref_vline)
export(rel)
export(rescale_01)
export(rescale_11)
export(rescale_2pi)
export(vet)
exportClasses(environment)
exportClasses(ggplot)
exportClasses(glayer)
exportClasses(glyphs)
exportClasses(list)
exportClasses(proto)
exportMethods("$")
exportMethods("$<-")
exportMethods("+")
exportMethods("[")
exportMethods("[<-")
exportMethods(c)
exportMethods(ls)
exportMethods(rep)
exportMethods(show)
import(ggplot2)
import(grid)
import(plyr)
import(proto)
import(scales)
import(stringr)
