S3method(print,ggplyr)
export(add_gid)
export(get_xs)
export(get_ys)
export(glayer)
export(glyph_plot)
export(null_omit)
exportClasses(glayer)
exportClasses(glyphs)
exportMethods($)
exportMethods($<-)
exportMethods(+)
exportMethods([)
exportMethods([<-)
exportMethods(c)
exportMethods(ggtransform)
exportMethods(ls)
exportMethods(rep)
exportMethods(show)
